# Clock
NET "sclk" LOC = P55	| IOSTANDARD = LVCMOS33;
NET "sclk" TNM_NET = sclk;
TIMESPEC TS_sclk_in = PERIOD "sclk_in" 75 MHz HIGH 50%;

NET "snd_chan[0]"		LOC = P46 | IOSTANDARD = LVCMOS33;
NET "snd_chan[1]"		LOC = P47 | IOSTANDARD = LVCMOS33;
NET "snd_chan[2]"		LOC = P48 | IOSTANDARD = LVCMOS33;
NET "snd_chan[3]"		LOC = P50 | IOSTANDARD = LVCMOS33;
NET "snd_chan[4]"		LOC = P51 | IOSTANDARD = LVCMOS33;
NET "snd_chan[5]"		LOC = P56 | IOSTANDARD = LVCMOS33;
NET "snd_chan[6]"		LOC = P57 | IOSTANDARD = LVCMOS33;
NET "snd_chan[7]"		LOC = P58 | IOSTANDARD = LVCMOS33;

NET "DATA_NES"		LOC = P21		| IOSTANDARD = LVCMOS33;
NET "CLK_NES"		LOC = P23		| IOSTANDARD = LVCMOS33;
NET "LATCH_NES"		LOC = P22		| IOSTANDARD = LVCMOS33;

NET "btn_in[0]"		LOC = P67 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "btn_in[1]"		LOC = P59 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "btn_in[2]"		LOC = P66 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "btn_in[3]"		LOC = P75 | IOSTANDARD = LVCMOS33 | PULLUP;

NET "led_chan[0]"		LOC = P1 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "led_chan[1]"		LOC = P2 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "led_chan[2]"		LOC = P5 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "led_chan[3]"		LOC = P6 | IOSTANDARD = LVCMOS33 | PULLUP;

